development:
  aws:
    access_key_id: some_aws_iam_access_key_id
    secret_access_key: some_aws_iam_secret_access_key
    region: eu-west-1
  chef:
    wonga:
      chef_aws_access_key_id: AWSChefKeyUntilRoles
      chef_aws_secret_access_key: AWSChefSecretUntilRoles
      build_domain: ADevDomain
      build_username: ADevProvisionerUsername
      build_password: ADevBuildPassword
      product: ADevProduct
      region: ADevRegion
    wonga_sonar:
      jdbc_username: ADevSonarUser
      jdbc_password: ADevSonarPass
  daemon:
    app_name: this_daemon_name
    backtrace: true
    dir_mode: normal
    dir: /tmp
    monitor: false
  pantry:
    api_key: some_pantry_api_key
    request_timeout: 10
    url: http://some.pantry.fqdn
    domain: TEST
  sqs:
    queue_name: daemon_specific_queue
  sns:
    topic_arn: daemon_specific_topic_arn
    error_arn: daemon_specific_error_arn
test:
  aws:
    access_key_id: some_aws_iam_access_key_id
    secret_access_key: some_aws_iam_secret_access_key
    region: eu-west-1
  chef:
    wonga:
      chef_aws_access_key_id: AWSChefKeyUntilIAMRoles
      chef_aws_secret_access_key: AWSChefSecretUntilIAMRoles
      build_domain: ATestDomain
      build_username: ATestProvisionerUsername
      build_password: ATestBuildPassword
      product: ATestProduct
      region: ATestRegion
    wonga_sonar:
      jdbc_username: ATestSonarUser
      jdbc_password: ATestSonarPass
  daemon:
    app_name: this_daemon_name
    backtrace: true
    dir_mode: system
    dir: /var/run
    log:
      logger: file
      log_file: /var/run/this_daemon_logfile.log
      shift_age: 4
    monitor: true
  pantry:
    api_key: some_pantry_api_key
    domain: TEST
    request_timeout: 10
    url: http://some.pantry.fqdn
  sqs:
    queue_name: daemon_specific_queue
  sns:
    topic_arn: daemon_specific_topic_arn
    error_arn: daemon_specific_error_arn
production:
  aws:
    access_key_id: some_aws_iam_access_key_id
    secret_access_key: some_aws_iam_secret_access_key
    region: eu-west-1
  chef:
    wonga:
      chef_aws_access_key_id: AWSChefKeyUntilRoles
      chef_aws_secret_access_key: AWSChefSecretUntilRoles
      build_domain: AProdDomain
      build_username: AProdProvisionerUsername
      build_password: AProdBuildPassword
      product: AProdProduct
      region: AProdRegion
    wonga_sonar:
      jdbc_username: AProdSonarUser
      jdbc_password: AProdSonarPass
  daemon:
    app_name: this_daemon_name
    backtrace: false
    dir_mode: system 
    dir: /var/run
    log:
      logger: syslog
      log_facility: syslog
    monitor: true
  pantry:
    api_key: some_pantry_api_key
    domain: TEST
    request_timeout: 10
    url: http://some.pantry.fqdn
  sqs:
    queue_name: daemon_specific_queue
  sns:
    topic_arn: daemon_specific_topic_arn
    error_arn: daemon_specific_error_arn
