development:
  aws:
    access_key_id: some_aws_iam_access_key_id
    secret_access_key: some_aws_iam_secret_access_key
    region: us-east-1
    request_wait: 10
  chef:
    authorization:
      sudo:
        groups:
        - sudo
        - ADevDomain\\\\ADevGroup
    chef_aws_access_key_id: AWSChefKeyUntilRoles
    chef_aws_secret_access_key: AWSChefSecretUntilRoles
    build_domain: ADevDomain
    build_username: ADevUser
    build_password: ADevPassword
    jenkins:
      git_ssh_hosts:
      - host: git.example.com
        StrictHostKeyChecking: no
        User: gituser
    postfix:
      main:
        mynetworks: 10.1.2.0/24, 172.16.0.0/16
        relayhost: relay.example.com
    product: ADevProduct
    region: ADevRegion
    service_username: ADevServiceRoleAccount
    snmp:
      syscontact: halp@example.com
      syslocationPhysical: myDesk
      syslocationVirtual: Tinternets
    sonar:
      jdbc_username: ADevSonarUser
      jdbc_password: ADevSonarPass
    splunk:
      forwarder_build: 12345
      forwarder_version: 0.0.7
      forwarder_installer_base_url: https://mirror.example.com/splunk/
      splunk_deployment_server: splunk.example.com:8089
      splunk_receiving_indexer: splunk.example.com:9997
    windows:
      hotfixes:
      - https://mirror.example.com/hotfixes/Windows6.1-KB2749615-x64.msu
  daemon:
    app_name: this_daemon_name
    backtrace: true
    dir_mode: normal
    dir: /tmp
    monitor: false
  pantry:
    api_key: some_pantry_api_key
    request_timeout: 10
    url: http://some.pantry.fqdn
    domain: TEST
  sqs:
    queue_name: daemon_specific_queue
  sns:
    topic_arn: daemon_specific_topic_arn
    error_arn: daemon_specific_error_arn
test:
  aws:
    access_key_id: some_aws_iam_access_key_id
    secret_access_key: some_aws_iam_secret_access_key
    region: eu-west-1
  chef:
    authorization:
      sudo:
        groups:
        - sudo
        - ADevDomain\\\\ADevGroup
    chef_aws_access_key_id: AWSChefKeyUntilRoles
    chef_aws_secret_access_key: AWSChefSecretUntilRoles
    build_domain: ADevDomain
    build_username: ADevUser
    build_password: ADevPassword
    jenkins:
      git_ssh_hosts:
      - host: git.example.com
        StrictHostKeyChecking: no
        User: gituser
    postfix:
      main:
        mynetworks: 10.1.2.0/24, 172.16.0.0/16
        relayhost: relay.example.com
    product: ADevProduct
    region: ADevRegion
    service_username: ADevServiceRoleAccount
    snmp:
      syscontact: halp@example.com
      syslocationPhysical: myDesk
      syslocationVirtual: Tinternets
    sonar:
      jdbc_username: ATestSonarUser
      jdbc_password: ATestSonarPass
    splunk:
      forwarder_build: 12345
      forwarder_version: 0.0.7
      forwarder_installer_base_url: https://mirror.example.com/splunk/
      splunk_deployment_server: splunk.example.com:8089
      splunk_receiving_indexer: splunk.example.com:9997
    windows:
      hotfixes:
      - https://mirror.example.com/hotfixes/Windows6.1-KB2749615-x64.msu
  daemon:
    app_name: this_daemon_name
    backtrace: true
    dir_mode: system
    dir: /var/run
    log:
      logger: file
      log_file: /var/run/this_daemon_logfile.log
      shift_age: 4
    monitor: true
  pantry:
    api_key: some_pantry_api_key
    domain: TEST
    request_timeout: 10
    url: http://some.pantry.fqdn
  sqs:
    queue_name: daemon_specific_queue
  sns:
    topic_arn: daemon_specific_topic_arn
    error_arn: daemon_specific_error_arn
production:
  aws:
    access_key_id: some_aws_iam_access_key_id
    secret_access_key: some_aws_iam_secret_access_key
    region: eu-west-1
  chef:
    authorization:
      sudo:
        groups:
        - sudo
        - ADevDomain\\\\ADevGroup
    chef_aws_access_key_id: AWSChefKeyUntilRoles
    chef_aws_secret_access_key: AWSChefSecretUntilRoles
    build_domain: ADevDomain
    build_username: ADevUser
    build_password: ADevPassword
    jenkins:
      git_ssh_hosts:
      - host: git.example.com
        StrictHostKeyChecking: no
        User: gituser
    postfix:
      main:
        mynetworks: 10.1.2.0/24, 172.16.0.0/16
        relayhost: relay.example.com
    product: ADevProduct
    region: ADevRegion
    service_username: ADevServiceRoleAccount
    snmp:
      syscontact: halp@example.com
      syslocationPhysical: myDesk
      syslocationVirtual: Tinternets
    sonar:
      jdbc_username: ADevSonarUser
      jdbc_password: ADevSonarPass
    splunk:
      forwarder_build: 12345
      forwarder_version: 0.0.7
      forwarder_installer_base_url: https://mirror.example.com/splunk/
      splunk_deployment_server: splunk.example.com:8089
      splunk_receiving_indexer: splunk.example.com:9997
    windows:
      hotfixes:
      - https://mirror.example.com/hotfixes/Windows6.1-KB2749615-x64.msu
  daemon:
    app_name: this_daemon_name
    backtrace: false
    dir_mode: system 
    dir: /var/run
    log:
      logger: syslog
      log_facility: syslog
    monitor: true
  pantry:
    api_key: some_pantry_api_key
    domain: TEST
    request_timeout: 10
    url: http://some.pantry.fqdn
  sqs:
    queue_name: daemon_specific_queue
  sns:
    topic_arn: daemon_specific_topic_arn
    error_arn: daemon_specific_error_arn
